# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.async-education.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\_prj\async-education\async-education\.idea\.idea.async-education\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
